@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

html {
    background-color: #202122;
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none; /* remove as bolinhas da lista */
}
a {
    color: rgb(170, 36, 211);
}

body {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "STIX Two Math", serif;
}

header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

.nav-item a:hover {
    color: aqua;
}
#complexo:hover {
    color: rgb(1, 13, 124);
}

#complexo:visited {
    color: rgb(108, 213, 231);
}

.imagem-intelectuais {
    width: 500px;
    height: 600px;
    border: solid black 1px;
    border-radius: 5%;
    
}


/* Estilo do Botão Hambúrguer (fixo na tela) */
.menu-btn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1;
}


.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #1a1a1a; 
    transition: left 0.3s ease; 
    padding-top: 60px;
    z-index: 2; 
}


.sidebar.ativa {
    left: 0;
}


.fechar-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.nav-lista {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
}

.nav-item {
    padding: 15px 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: color 0.2s;
}

.nav-item a:hover {
    color: aqua;
}

.funcao {
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
}

.resolucao {
    margin-left: 5%;
}

iframe {
    height: 500px;
    width: 100%;
}

@media (max-height=500px) {
    iframe {
        height: 100%;
    }
}

@keyframes aparecer {
    16% {
        opacity: 1;
    }

    16%, 50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    52%, 79% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    81%, 99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moverX {
  from {left: 0;}
  to {left: 75%;}
}


@keyframes moverY {
  from {top: 0;}
  to {top: 25%;}
}

.easter_egg {
    width: 25%;
    position: absolute;
    opacity: 0;
    animation:
    aparecer 67s ease-out 6.7s infinite forwards alternate,
    moverX 5s linear infinite alternate, 
    moverY 4s linear infinite alternate;
}

#fofinho {
    width: 10%;
    position: relative;
    bottom: -670px;
    left: -670px;
    opacity: 0.05;
}

.continha {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 5px;
    padding-left: 5px;
}

#modular {
    width: 100%;
    height: 100%;
}